.body {
 background-color: rgb(151, 230, 152);
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  color: #95f5a6;
  
  overflow: hidden;
  position: absolute;
  background-size: cover;
  background-position: center center;
}