.body {
  background-image: url('./img/bgsoul.png');
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  color: #fff;
  
  overflow: hidden;
  position: absolute;
  background-size: cover;
  background-position: center center;
}