.bg {
    background-image: url(https://wallpaperaccess.com/full/1191338.jpg);
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    text-decoration: none;
    text-shadow: 2px 2px 2px #f1eef4;
    padding-left: 40px;
    color: #aadefa; 
}
.NavBar {
    background-color: rgb(229, 145, 240);
    color: aliceblue;
}
.container {
    background-color:  rgb(229, 145, 240);
    color: rgb(70, 10, 72);
    font-size: x-large;
    font-weight: bold;
}